{{ define "main" }}
  <div class="tabcontent" data-place="Pres">
    <p>
      <h2>{{ .Title }}</h2>
      <div class="spaced">{{ .Date.Format "2 January 2006" }}<br>
      {{ .Summary }}
      </div>    
    </p>
    <p>
      {{ .Content }}
    The slides can be found <a href="{{ .Site.BaseURL }}presentation/{{ .Params.file }}">here</a>.
    </p>
    <div class="spaced"></div> 
    {{ if .PrevInSection }}
    <a href="{{.PrevInSection.Permalink}}"> &larr;&nbsp;Earlier</a> /
    {{ end }}
    <a href="{{ .Site.BaseURL }}/presentation">Archive</a>
    {{ if .NextInSection }}
    / <a href="{{.NextInSection.Permalink}}">Later&nbsp;&rarr;</a>
    {{ end }}
  </div>
{{ end }}
