@supports (font-variation-settings: initial) {
  @font-face {
    font-display: block;
    font-family: "CommitMono";
    src: url("/commit/CommitMonoVF.woff2") format("woff2");
    font-weight: 200 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Menlo Fallback";
    src: url("/commit/Menlo.woff2") format("woff2");
  }
}

:root {
  /* Colours */
  --base: #faf9f6;
  --base-secondary: #e8e7e3;
  --text: #312B1B;
  --link: #005faf;
  --sel: #005faf;

  /* Dark colours */
  --base-dark: #25273a;
  --base-secondary-dark: #363a4f;
  --text-dark: #cad3f5;
  --link-dark: #8aadf4;
  --sel-dark: #939ab7;

  --bg-color: var(--base);
  --bg-color-secondary: var(--base-secondary);
  --fg-color: var(--text);
  --link-color: var(--link);
  --selection-color: var(--sel);
  
  /* Font size */
  --14px: 1rem;

  /* Spacing */ 
  /*--text-margin-right: 12ch;*/
}
  
/* General */

* {
  font-family: "CommitMono", "Menlo Fallback", ui-monospace, monospace;
  font-feature-settings: "cv11" on, "ss01" on, "ss02" on, "ss03" on, "ss04" on, "ss05" on;
  max-width: 75ch;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.5rem;
  box-sizing: border-box;
  word-wrap: break-word !important;
}

html {
  padding: 0 2ch;
  margin: 0 auto;
  display: block;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: var(--fg-color);
  background: var(--bg-color);
}

::-moz-selection {
  color: var(--fg-color);
  background: var(--sel);
}

::selection {
  color: var(--bg-color);
  background: var(--sel);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--base-dark);
    --bg-color-secondary: var(--base-secondary-dark);
    --fg-color: var(--text-dark);
    --link-color: var(--link-dark);
  }
  ::selection{
    color: var(--text-dark);
    background: var(--sel-dark);
  }
}

body {
  margin: 3rem 0;
  max-width: calc(100vw - 4ch);
  counter-reset: section footnote footnote-back;
}

main {
  margin: 0;
}

.container {
}

h1 {
  font-weight: 400;
  position: relative;
  text-transform: uppercase;
}
  
h2 {
  font-weight: 400;
  font-size: 1rem;
  position: relative;
  margin-bottom: 1.5rem;
  scroll-margin-top: 2rem;
  counter-reset: subsection;
  text-transform: uppercase;
  &:not(:first-of-type) {
    margin-top: 4.5rem;
  }
}

h2 > a.section-counter::before {
  display: inline-block;
  counter-increment: section;
  content: counter(section) ".";
  text-decoration: underline;
}


h3 {
  font-weight: normal;
  font-size: 1rem;
  margin-top: 3rem;
  scroll-margin-top: 2rem;
}

h3::before {
  display: inline-block;
  counter-increment: subsection;
  /*content: counter(section) "." counter(subsection) ".\00a0";*/
}

h4 {
  font-weight: 400;
  margin-top: 4.5rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.footnote, .footnote-back {
  display: inline;
  scroll-margin-top: 2rem;
}

.footnote::before {
  content: "\00a0[";
}

.footnote-back::before {
  content: "[";
}

.footnote::after, .footnote-back::after {
  content: "]";
}

.footnote > a { 
  counter-increment: footnote;
}

.footnote > a::before {
  content: counter(footnote);
}

.footnote-back > a {
  counter-increment: footnote-back;
}

.footnote-back > a::before {
  content: counter(footnote-back)
}

p {
  margin-bottom: 1.5rem;
}

em {
  font-size: 100%;
  font-style: normal;
  font-feature-settings: "cv04" on, "cv08" on;
  font-variation-settings: "ital" 1;
}

ul {
  margin-left: 2ch;
  list-style-type: "*\00a0";
}

ul.prompt-secondary {
  margin-top: 3rem;
  list-style-type: ">\00a0";
}

li {
  text-align: left;
  margin-bottom: 1.5rem;
}

a {
  color: var(--link-color);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  text-decoration: underline;
  line-height: 100%; /* keeps the line height the same */
  &:webkit-any-link {
    cursor: pointer;
    text-decoration: underline;
  }
}

@media (pointer: fine) {
  a:hover {
    text-decoration: none;
  }
}

.divider {
  display: flex;
  white-space: pre;
  overflow: hidden;
  margin: 2.5rem 0 2.5rem 0;
}

.divider::after {
  content: '---------------------------------------------------------------------------------';
}

figure:has(> .inner) {
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding-bottom: 0.625rem;
  max-width: fit-content;
  margin-bottom: 1.25rem;
}

figure:has(> .inner)::before {
  position: absolute;
  white-space: pre;
  top: -1rem;
  content: '_________________________________________________________________________________';
}

figure:has(> .inner)::after {
  position: absolute;
  white-space: pre;
  bottom: 0;
  content: '_________________________________________________________________________________';
}

figure > .inner {
  display: flex;
  position: relative;
  margin: 0;
  line-height: 1.25rem;
  overflow: hidden;
  padding: 0.5rem 1ch 0rem 1ch;
}

figure > .inner::before {
  position: absolute;
  white-space: pre;
  top: -0.75rem;
  left: 0;
  content: "\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A";
}

figure > .inner::after {
  position: absolute;
  white-space: pre;
  top: -0.75rem;
  right: 0;
  content: "\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A";
}

a:has(figure) {
  color: var(--fg-color);
}

a:has(figure):hover {
  font-weight: bold;
  color: var(--link-color);
}

img {
  max-width: 100%;
  margin: 0;
}

.hide {
  display: none;
}

.list-container {
  margin-right: var(--text-margin-right);
}

.row {
  display: flex;
  column-gap: 2ch;
  scroll-margin-top: 2rem;
  margin-bottom: 3rem;
}

.blog-post {
  /* display: flex; */
  scroll-margin-top: 2rem;
}

.blog-post .footnote, 
.blog-post .footnote-back, 
.blog-post h4,
.blog-post > p:has(> .footnote-back), 
.blog-post > p:has(> .footnote-back) ~ figure {
  /* Hides footnotes, footnote hyperlinks, footnote section header, and images in footnotes when on the /blog main page */
  display: none;
}

.item {
  margin-left: 2ch;
  margin-bottom: 1rem;
  position: relative;
}

.item:first-letter {
  margin-left: -2ch;
}

.col-cat {
  margin: 0;
}

.col-cat::before {
  content: "[";
}

.col-cat::after {
  content: "]";
}

.post-header {
  margin-bottom: 1.5rem;
}

.post-header > a > h1:hover {
  text-decoration: underline;
}

.post-header .row {
  column-gap: 2ch;
}

.post-header .date a {
  text-decoration: none;
  color: var(--fg-color);
  opacity: 50%;
}

.post-header .date a:hover {
  opacity: 100%;
}

.post-header .column {
  margin-bottom: 0;
}

.post-nav {
  margin-top: 4.5rem;
  margin-right: var(--text-margin-right);
}

.ls::after {
  content: "_";
  color: var(--fg-color);
  animation: cursor-blink 1s steps(2, start) infinite;
}

@keyframes cursor-blink {
  from { visibility:visible }
  to { visibility:hidden }
}

.tree, .tree ul {
  margin-left: 0;
  list-style: none;
}

.tree li {
  margin: 0;
  padding: 0;
}

.tree li a {
  color: var(--fg-color);
  text-decoration: none;
}

.tree li a:hover {
  color: var(--bg-color);
  background: var(--fg-color);
}

.tree li a::after {
  content: "/";
}

/* level 1 */
.tree > li::before {
  content: "";
}

.tree > li:last-child::before {
  content: ""
}

/* level 2 */
.tree > li > ul > li {
  margin-left: 4ch;
  list-style-type: "|-- ";
}

/* Tabs */
header.navbar {
  display: flex;
  margin-bottom: 3rem;
  justify-content: space-between;
}

.navbar ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: var(--fg-color);
  text-decoration: none;
  margin: 0;
}

.navbar a:hover {
  color: var(--bg-color);
  background: var(--fg-color);
}

.navbar li {
  position: relative;
  margin: 0;
  & > a {
    display: block;
  }
}

/* Dropdown menu styling */
.navbar .dropdown-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--bg-color);
  border: 1px solid var(--fg-color);
  z-index: 1;
  text-transform: lowercase;
}

.navbar .dropdown-list li {
  margin: 0;
  line-height: 1rem;
}

.navbar .dropdown-list li > a {
  margin: 0;
  padding-right: 1ex;
  padding-bottom: 0.125rem;
}

.navbar .dropdown-list li a::after {
  content: "/";
}

.navbar .dropdown:hover .dropdown-list {
  display: block;
}

figure {
  display: flex;
  position: relative;
  overflow: hidden;
}

figure p {
  margin-bottom: 0;
}

cite {
  font-style: normal;
}

blockquote, cite {
  font-variation-settings: "ital" 1;
}

blockquote,
blockquote ~ * {
  padding-left: 2ch;
  position: relative;
}

blockquote::before {
  white-space: pre;
  content: "\201C\A";
  left: 0ch;
  top: 0;
  font-size: 2rem;
  line-height: 2rem;
}

figure:has(> blockquote) {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

figure:has(> blockquote)::before {
  line-height: 0.75rem;
  position: absolute;
  white-space: pre;
  opacity: 50%;
  content: "|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A";
}

figcaption {
  font-variation-settings: "ital" 0;
  font-style: normal;
}

pre {
  background-color: var(--bg-color-secondary);
  overflow-x: auto;
  padding: 1rem;
  border-radius: 0.5rem;
}

nav {
  margin: 2.5rem 0;
}

nav > .row {
  display: flex;
  flex-direction: row;
  gap: 2ch;
  min-width: 100%;
  max-width: 100%;
  margin: 0;
}

nav .divider {
  margin: 0;
  display: inline-block;
}

.pagination, .pagination li {
  display: inline-block;
  list-style: none;
  margin: 0;
  min-width: fit-content;
}

.disabled a, .active a {
  text-decoration: none;
  opacity: 60%;
}


/* THE "SHELF" PAGE */
#top-header {
  text-align: left;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: var(--header-height);
  position: relative;
  overflow: hidden;
  /*padding-right: 1ch;*/
}

#top-header > span {
  margin: 0;
}

#top-header::after {
  position: absolute;
  bottom: 0;
  content: "________________________________________________________________________________________________________________________________________________";
  line-height: 1.25rem;
}

.sidebar-container {
  max-width: 100%;
  display: flex;
  flex-grow: 1;
  position: relative;
  margin: 0;
  min-height: var(--section-height);
  max-height: var(--section-height);
  overflow: hidden;
  flex-direction: column-reverse;
}

.sidebar-container > * {
  margin-bottom: 0;
  overflow-y: auto;
}

/* NOT-SIDEBAR, AKA ICONS */
.not-sidebar {
  position: relative;
  display: flex;
  line-height: 1.25rem;
  flex-direction: column;
  min-height: var(--section-height);
  overscroll-behavior-y: none;
}

.shelf-top, .shelf-mid, .shelf-bottom {
  display: flex;
  flex-direction: row;
  position: relative;
  line-height: inherit;
  margin: 0;
}

/*.shelf-top > .shelf-header { padding-top: 1.25rem; }*/

.shelf-top::before {
  white-space: pre;
  content: "|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A\\‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾\A|\\_______________________________________________________________________________________________________________________________________";
  overflow-x: hidden;
}

.shelf-top::after {
  white-space: pre;
  content: "| \A| \A| \A| \A| \A| \A| \A| \A| \A| \A\\ \A_\\";
}

.shelf-mid::before {
  white-space: pre;
  content: "|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A\\‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾\A|\\_______________________________________________________________________________________________________________________________________";
  overflow-x: hidden;
}

.shelf-mid::after {
  white-space: pre;
  content: "| \A| \A| \A| \A| \A| \A| \A| \A| \A| \A\\ \A_\\";
}

.shelf-bottom::before {
  white-space: pre;
  content: "|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A\\‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾\A\00a0\\_______________________________________________________________________________________________________________________________________";
  overflow-x: hidden;
}

.shelf-bottom::after {
  white-space: pre;
  content: "| \A| \A| \A| \A| \A| \A| \A| \A| \A| \A\\ \A_\\";
}

.shelf-header {
  position: absolute;
  left: 2ch;
  top: 0.75rem;
}

.grid {
  position: absolute;
  display: flex;
  row-gap: 1.5rem;
  column-gap: 2ch;
  overflow: auto;
  width: calc(100% - 5ch);
  left: 2ch;
  bottom: 0;
}

a.card {
  text-decoration: none;
  color: var(--fg-color);
  padding: 0;
  margin: 0;
  bottom: 0.25rem;
}

a.card:hover {
  color: var(--link-color);
  font-weight: bold;
}

.card {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom, 
    transparent 1rem, 
    var(--bg-color) 1rem, 
    var(--bg-color) calc(100% - 1rem), 
    transparent calc(100% - 1rem)
  );
  background-repeat: no-repeat;
}

.card::before {
  position: absolute;
  white-space: pre;
  top: 0;
  left: 0;
  line-height: 1.25rem;
}

.music .card::before {
  content: "________________\A¦              ¦\A¦              ¦\A¦              ¦\A¦              ¦\A¦              ¦\A¦              ¦\A¦              ¦\A‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾";
}

.music .card {
  /* max-height: 11.25rem; */
  /* min-height: 11.25rem; */
  max-width: 16ch;
  min-width: 16ch;
  padding: 1.25rem 1ch 1rem 1ch;
}

.books .card::before {
  content: " __________ \A|\\ΞΞΞΞΞΞΞΞΞ\\\A|¦         ¦\A|¦         ¦\A|¦         ¦\A|¦         ¦\A|¦         ¦\A|¦         ¦\A\\¦         ¦\A\00a0\00a0‾‾‾‾‾‾‾‾‾";
}

.books .card {
  /* max-height: 12.15rem; */
  /* min-height: 12.15rem; */
  max-width: 12ch;
  min-width: 12ch;
  padding: 2.5rem 1ch 1rem 2ch;
}

.movies .card::before {
  content: "_____________\A|           |\A|           |\A|           |\A|           |\A|           |\A|           |\A|           |\A|           |\A‾‾‾‾‾‾‾‾‾‾‾‾‾";
}

.movies .card {
  max-width: 13ch;
  min-width: 13ch;
  padding: 1.25rem 1ch 1rem 1ch;
}

.movies .card img {
  max-height: 9.5rem;
  min-height: 9.5rem;
  overflow: hidden;
  display: block;
  margin: auto;
}

.grid .card { padding-bottom: 1.25rem; }

article .card { margin-top: -1rem; margin-bottom: 0;}

.dropcap, .dropcap-small {
  display: block;
	white-space: pre;
  line-height: 1.25rem;
  float: left;
}

.dropcap > a, .dropcap-small > a {
  text-decoration: none;
  color: var(--fg-color);
  margin-top: 0rem;
  line-height: 1.25rem;
}

.dropcap > a:hover, .dropcap-small > a:hover {
  color: var(--link-color);
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

/* SIDEBAR, AKA CONTENT */
.sidebar {
  flex: 1;
}

section {
  position: relative;
  display: none;
  padding-top: 1.5rem;
  width: 100%;
  margin-bottom: 0;
  background-color: var(--bg-color);
  flex-direction: column;
}

section:target {
  position: absolute;
  display: flex;
  top: 0; 
  min-height: var(--section-height);
  bottom: 0;
  overflow-y: auto;
  width: 100%;
  background-color: var(--bg-color);
}

#about:not(:target) {
  display: none;
}

section:target ~ #about {
  display: none;
}

section > header {
  display: flex;
  /*position: relative;*/
  margin-bottom: 2.25rem;
  padding: 0;
  /*text-align: center;*/
}

section > article {
  position: relative;
  flex: 1;
}

section > article > footer {
  display: flex;
  /*justify-content: right;*/
  margin-top: 2.25rem;
}

section p {
  margin-bottom: 1rem;
}

/* Responsive design */
@media only screen and (max-width: 768px) {
  #current-filename {
    display: none;
  }
}
