@supports (font-variation-settings: initial) {
	@font-face {
		font-display: block;
		font-family: "CommitMono";
		src: url("/fonts/CommitMonoVF.woff2") format("woff2");
		font-weight: 200 700;
		font-style: normal;
	}
	@font-face {
		font-display: block;
		font-family: "Menlo Fallback";
		src: url("/fonts/Menlo.woff2") format("woff2");
		font-weight: 200 700;
		font-style: normal;
	}
	@font-face {
		font-family: "Akzidenz-Grotesk";
		src: url("/fonts/ag/AkzidenzGroteskPro-Light.woff2") format("woff2");
		font-weight: 300;
		font-style: normal;
	}
	@font-face {
		font-family: "Akzidenz-Grotesk";
		src: url("/fonts/ag/AkzidenzGroteskPro-LightIt.woff2") format("woff2");
		font-weight: 300;
		font-style: italic;
	}
	@font-face {
		font-family: "Akzidenz-Grotesk";
		src: url("/fonts/ag/AkzidenzGroteskPro-Regular.woff2") format("woff2");
		font-weight: 400;
		font-style: normal;
	}
	@font-face {
		font-family: "Akzidenz-Grotesk";
		src: url("/fonts/ag/AkzidenzGroteskPro-It.woff2") format("woff2");
		font-weight: 400;
		font-style: italic;
	}
	@font-face {
		font-family: "Akzidenz-Grotesk";
		src: url("/fonts/ag/AkzidenzGroteskPro-Md.woff2") format("woff2");
		font-weight: 500;
		font-style: normal;
	}
	@font-face {
		font-family: "Akzidenz-Grotesk";
		src: url("/fonts/ag/AkzidenzGroteskPro-Bold.woff2") format("woff2");
		font-weight: 600;
		font-style: normal;
	}
	@font-face {
		font-family: "Akzidenz-Grotesk";
		src: url("/fonts/ag/AkzidenzGroteskPro-Super.woff2") format("woff2");
		font-weight: 700;
		font-style: normal;
	}
	@font-face {
		font-family: "Akzidenz-Grotesk";
		src: url("/fonts/ag/AkzidenzGroteskPro-BoldIt.woff2") format("woff2");
		font-weight: 700;
		font-style: italic;
	}
	@font-face {
		font-family: "Akzidenz-Grotesk";
		src: url("/fonts/ag/AkzidenzGroteskPro-BoldEx.woff2") format("woff2");
		font-weight: 900;
		font-style: normal;
	}
}

:root {
	/* Colours */
	--base: #fff;
	--base-secondary: #ddd;
	--base-tertiary: #eee;
	--text: #1e1e1e;
	--text-secondary: #6a6a6a;
	--link: #1e1e1e;
	--sel: #6a6a6a;
	--blog: rgb(220, 20, 60, 0.7);
	--shelf: rgb(154, 205, 50, 0.7);
	--writ: rgb(70, 130, 180, 0.7);
	--pres: rgb(102, 51, 153, 0.6);
	--about: rgb(255, 215, 0, 0.7);

	/* Dark colours */
	--base-dark: #1e1e2e;
	--base-secondary-dark: #313244;
	--text-dark: #cdd6f4;
	--text-secondary-dark: #cdd0f4;
	--link-dark: #89b4fa;
	--sel-dark: #9399b2;

	--bg-color: var(--base);
	--bg-color-secondary: var(--base-secondary);
	--bg-color-tertiary: var(--base-tertiary);
	--fg-color: var(--text);
	--fg-color-secondary: var(--text-secondary);
	--link-color: var(--link);
	--selection-color: var(--sel);

	/* Font size */
	--14px: 1rem;
}

* {
	font-family: "Akzidenz-Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-variant-numeric: proportional-nums;
	font-weight: 400;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	word-wrap: break-word !important;
	dynamic-range-limit: standard;
	scrollbar-gutter: stable both-edges;
	scrollbar-width: thin;
}

*, *::before, *::after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	font-family: sans-serif;
	display: block;
	scroll-behavior: smooth;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	line-height: 150%;
	font-size: 100%;
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0px;
	color: var(--fg-color);
	background: var(--bg-color);
	counter-reset: section footnote footnote-back sidenote-counter;
	display: block;
}

article, div, footer, header, main, nav, section {
	display: block;
}

section {
	scroll-padding-top: 2rem;
	scroll-snap-align: start;
}

footer {
	/* margin-top: 5rem; */
	height: 2.5rem;
	/* text-align: right; */
}

footer > p {
	color: var(--fg-color-secondary);
}

::-moz-selection {
	color: var(--fg-color);
	background: var(--sel);
}

::selection {
	color: var(--bg-color);
	background: var(--sel);
}

*, ::before, ::after {
	box-sizing: border-box;
}

main {
	padding: 0 1em 1em 1em;
	max-width: 60em;
	margin: 0 auto;
}

@media (max-width: 60em) {
	main { margin: 0 auto; }
}

.container {
	display: block;
	margin: 0;
}

hr.border, .border-primary {
	margin: 1.5rem 0;
	color: inherit;
	border: 0.06em solid var(--bg-color-secondary);
}

hr.border-secondary {
	border-color: var(--bg-color-secondary);
	/* border-style: dashed; */
}
hr.border-tertiary {
	border-color: var(--bg-color-secondary);
	border-style: dashed;
}

hr.border-horiz--mobile {
	display: none;
}
@media (max-width: 50em) {
	hr.border-horiz--mobile {
		display: block;
	}
}

.body-content {
	width: 90%;
}

.body-content + hr.border-tertiary { width: 90%; }

.home-img {
	width: 50%;
}

@media(max-width: 50em) {
	.body-content, .home-img { margin-left: 10%; }
	.container > .row:has(article.body-content) { width: 100%; }
	.body-content + hr.border-tertiary { width: 100%; }
}

.index-frame hr.border-primary {
	margin: 2.25rem 0;
}

hr.border-header {
	margin-top: 0rem;
}

.site-title {
	font-weight: 700;
	line-height: 100%;
	margin-bottom: 1rem;
}

section:has(.site-title) {
	margin-bottom: 2rem;
}

b {
	font-weight: 500;
}

.bar-sep::after {
	content: "|";
	margin: 0 0.5rem;
}

h1, h1 a {
	font-weight: 400;
	font-size: 100%;
	margin-bottom: 0rem;
	width: fit-content;
}

@media(max-width: 50em) {
	.title > h1 { margin-bottom: 1rem; }
}

.title h1 {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	align-items: baseline;
}

.title h1 .square-big { display: none }
.title h1 .dot-big { display: none }

@media(max-width: 50em) {
	.title h1 { grid-template-columns: 100%; }
	.title h1 .square-big { display: inline-block; }
	/* .title h1 .dot-big { display: inline-block; } */
}

h2 {
	font-weight: 400;
	font-size: 1rem;
	color: var(--fg-color);
	position: relative;
	margin-bottom: 0.75rem;
}

h3 {
	font-weight: 400;
	font-size: .81rem;
	scroll-margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	color: var(--fg-color-secondary);
}

h3:has(.dot-med) {
	text-indent: -1rem;
	margin-left: 1rem;
}

h4 {
	font-weight: 400;
	font-style: italic;
	margin-top: 3rem;
	margin-bottom: 1rem;
}

h4::after {
	display: block;
	content: "";
	width: 33%;
	border-bottom: 1.5px dotted var(--bg-color-secondary);
}

h4:not(p + h4) {
	margin-top: 0;
}

a:has(h1) { text-decoration: none; }
a>h1:hover { color: var(--fg-color-secondary); }
a:has(h2) { text-decoration: none; }
a>h2:hover { color: var(--fg-color-secondary); }
a:has(h3) { text-decoration: none; }
a>h3:hover { color: var(--fg-color); }

h3:has(.dot-big) { padding-left: 1rem; text-indent: -1rem; }

.meta-panel {
	width: 90%;
	margin-bottom: 1.5rem;
}

.sidenote {
	font-size: 0.9rem;
	line-height: 1.5rem;
	position: relative;
	scroll-margin-top: 6rem;
}

.sidenote-number {
	counter-increment: sidenote-counter;
	display: inline;
}

.sidenote-number:hover {
	background: var(--bg-color-secondary);
}

.sidenote::before {
	content: counter(sidenote-counter)". ";
	position: relative;
	vertical-align: baseline;
	font-size: 0.9rem;
}

.sidenote-number::after {
	content: counter(sidenote-counter);
	position: relative;
	font-variant-position: super;
}

.sidenote img {
	border: 0.5px dotted var(--fg-color-secondary);
	margin-top: 1rem;
}

.index-frame .sidenote, .index-frame .sidenote-number { display: none }

@media (min-width: 50em) {
	.sidenote {
		display: block;

		float: left;
		clear: left;
		margin-left: -55.555%;
		text-align: left;

		top: -1rem;
		max-width: 50%;
		margin-top: 1rem;
	}
	.sidenote-number:hover .sidenote {
		background-color: var(--bg-color-tertiary);
	}
	figure.l-margin-img {
		float: left;
		clear: left;
		margin-left: -55.555%;
		text-align: right;

		top: -1rem;
		max-width: 50%;
		margin-top: 1rem;
	}
	figure.l-margin-img > figcaption { text-align: left; }
}

@media (max-width: 50em) {
	.sidenote {
		display: block;
		z-index: 9999;
		float: left;
		text-align: left;
		margin: 0.75rem;
		padding-left: 0.75rem;
	}
	.sidenote-number:hover > .sidenote {
		/* content: ""; */
		background-color: var(--bg-color-tertiary);
	}
}

.footnote, .footnote-back {
	display: inline;
	scroll-margin-top: 2rem;
}

.footnote::before {
	content: "\00a0[";
}

.footnote-back::before {
	content: "[";
}

.footnote::after, .footnote-back::after {
	content: "]";
}

.footnote > a { 
	counter-increment: footnote;
}

.footnote > a::before {
	content: counter(footnote);
}

.footnote-back > a {
	counter-increment: footnote-back;
}

.footnote-back > a::before {
	content: counter(footnote-back)
}

p {
	margin-bottom: 1.5rem;
}
p:last-child {
	margin: 0rem;
}

.ipa {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 92%;
}

em {
	font-size: 100%;
	font-style: italic;
	line-height: 100%;
}

b {
	font-size: 100%;
}

ul {
	list-style-type: "•\2002\2006";
	margin-bottom: 1.5rem;
}

ol {
	list-style-type: none;
	counter-reset: foo;
	margin-bottom: 1.5rem;
}

ol > li {
	counter-increment: foo;
	display: table-row;
}

ol > li::before {
	content: "(" counter(foo) ")";
	display: table-cell;
	padding-right: 1ch;
}

li {
	text-align: left;
	/* margin-bottom: 1.5rem; */
}

a {
	margin: 0;
	padding: 0;
	color: var(--link-color);
	text-decoration: underline;
}

.title > a > h1 {
	margin-bottom: 1.5rem;
}

a.plain {
	text-decoration: none;
}

a.plain:hover {
	color: var(--fg-color-secondary);
}

p > a {
	font-weight: 400;
	text-decoration: underline;
}

p > a:hover {
	color: var(--fg-color-secondary);
}

@media (pointer: fine) {
	a:hover {
		text-decoration: none;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
}
.row > * { 
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	vertical-align: top;
	display: inline-block;
}
.col-sm-1\/7 { width: 14.286%; }
.col-sm-2\/7 { width: 28.571%; }
.col-sm-3\/7 { width: 42.857%; }
.col-sm-4\/7 { width: 57.143%; }
.col-sm-5\/7 { width: 71.429%; }
.col-sm-6\/7 { width: 85.714%; }
.col-sm-7\/7 { width: 100%; }
.col-1\/7 { width: 14.286%; }
.col-2\/7 { width: 28.571%; }
.col-3\/7 { width: 42.857%; }
.col-4\/7 { width: 57.143%; }
.col-5\/7 { width: 71.429%; }
.col-6\/7 { width: 85.714%; }
.col-7\/7 { width: 100%; }

.col-sm-1 { width: 8.33333333%; }
.col-sm-2 { width: 16.66666667%; }
.col-sm-3 { width: 25%; }
.col-sm-4 { width: 33.33333333%; }
.col-sm-5 { width: 41.66666667%; }
.col-sm-6 { width: 50%; }
.col-sm-7 { width: 58.33333333%; }
.col-sm-8 { width: 66.66666667%; }
.col-sm-9 { width: 75%; }
.col-sm-10 { width: 83.33333333%; }
.col-sm-11 { width: 91.66666667%; }
.col-sm-12	{ width: 100%; }
.col-1 { width: 8.33333333%; }
.col-2 { width: 16.66666667%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33333333%; }
.col-5 { width: 41.66666667%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33333333%; }
.col-8 { width: 66.66666667%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33333333%; }
.col-11 { width: 91.66666667%; }
.col-12 { width: 100%; }

@media (max-width: 50em) {
	.col-sm-1 { width: 100%; }
	.col-sm-2 { width: 100%; }
	.col-sm-3 { width: 100%; }
	.col-sm-4 { width: 100%; }
	.col-sm-5 { width: 100%; }
	.col-sm-6 { width: 100%; }
	.col-sm-7 { width: 100%; }
	.col-sm-8 { width: 100%; }
	.col-sm-9 { width: 100%; }
	.col-sm-10 { width: 100%; }
	.col-sm-11 { width: 100%; }
	.col-sm-12 { width: 100% }
	.col-1 { width: 100%; }
	.col-2 { width: 100%; }
	.col-3 { width: 100%; }
	.col-4 { width: 100%; }
	.col-5 { width: 100%; }
	.col-6 { width: 100%; }
	.col-7 { width: 100%; }
	.col-8 { width: 100%; }
	.col-9 { width: 100%; }
	.col-10 { width: 100%; }
	.col-11 { width: 100%; }
	.col-12 { width: 100% }
	.col-sm-1\/7 { width: 100%; }
	.col-sm-2\/7 { width: 100%; }
	.col-sm-3\/7 { width: 100%; }
	.col-sm-4\/7 { width: 100%; }
	.col-sm-5\/7 { width: 100%; }
	.col-sm-6\/7 { width: 100%; }
	.col-sm-7\/7 { width: 100%; }
	.col-1\/7 { width: 100%; }
	.col-2\/7 { width: 100%; }
	.col-3\/7 { width: 100%; }
	.col-4\/7 { width: 100%; }
	.col-5\/7 { width: 100%; }
	.col-6\/7 { width: 100%; }
	.col-7\/7 { width: 100%; }
	.row.rev { flex-direction: column-reverse; }
	.meta-panel { width: 80%; }
	.meta-panel--image-margin { width: 50%; }
}
.right-align {
	text-align: right;
}
@media (max-width: 50em) {
	.index-frame {
		flex-direction: column-reverse;
	}
}
a:has(figure) {
	color: var(--fg-color);
}

a:has(figure):hover {
	font-weight: 700;
	color: var(--link-color);
}

figure {
	margin-top: 1.5rem;
}

figure:has(.inner) {
	padding-bottom: 1.5rem;
}

figure a > img {
	display: flex;
	overflow: hidden;
	border: 1px dotted var(--fg-color-secondary);
}

img {
	width: 100%;
	margin: 0;
}

.img-grid-4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 0;
	row-gap: 0;
}

.index-frame .inner {
	display: none;
}

.work-item {
	padding-left: 1.5rem;
	text-indent: -1.5rem;
}

.work-item a:first-child {
	text-decoration: none;
}
.work-item a:first-child:hover {
	color: var(--fg-color-secondary);
}

.hide {
	display: none;
}

.list-container {
	margin-right: var(--text-margin-right);
}

.blog-post {
	/* display: flex; */
	scroll-margin-top: 2rem;
}

.post-nav {
	margin-bottom: 1rem;
}

.post-nav, .post-nav a {
	text-decoration: none;
	color: var(--fg-color-secondary);
}

.post-nav a:hover {
	color: var(--fg-color);
}

.index-frame .footnote, 
.index-frame .footnote-back, 
.index-frame h4,
.index-frame p:has(> .footnote-back), 
.index-frame p:has(> .footnote-back) ~ figure {
	/* Hides footnotes, footnote hyperlinks, footnote section header, and images in footnotes when on the /blog main page */
	display: none;
}

.no-image figure {
	display: none;
}

.circle-nav {
	height: 0;
	display: flex;
	margin-left: 1rem;
}

.circle-nav ul {
	text-indent: 5rem;
	margin-top: 49px;
	margin-bottom: 0;
	list-style-type: none;
	border-top: 1px solid var(--bg-color-secondary);
}

.circle-nav li {
	display: block;
	margin: 0;
}

.circle-nav li:first-child {
	padding-top: 1rem;
}

.circle-nav li:after {
	content: "";
	width: 100%;
}

.circle-nav li a {
	font-weight: 500;
	text-decoration: none;
}

.circle-nav li a:hover {
	margin-left: -9px;
	padding-left: 5px;
	border-left: 4px solid var(--fg-color-secondary);
}

.circle-nav li a.active {
	margin-left: -9px;
	padding-left: 5px;
	border-left: 4px solid var(--fg-color-secondary);
}

.circle-nav-bg {
	position: absolute;
	width: 9rem;
	height: 9rem;
	background: var(--bg-color-tertiary);
	border-radius: 50%;
	z-index: -999;
}

.circle-nav .blog:hover { border-left: 4px solid rgb(220, 20, 60, 0.7); }
.circle-nav .presentations:hover { border-left: 4px solid rgb(102, 51, 153, 0.6); }
.circle-nav .writing:hover { border-left: 4px solid rgb(70, 130, 180, 0.7); }
.circle-nav .shelf:hover { border-left: 4px solid rgb(154, 205, 50, 0.7); }

.home-nav ul {
	list-style-type: none;
	word-wrap: break-word;
}

.home-nav li {
	font-weight: 700;
	font-size: 300%;
	line-height: 100%;
	display: block;
	margin: 0;
}

/* Tabs */
header.navbar {
	position: sticky;
	top: 0;
	z-index: 1000;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 24px;
	min-height: 25px;
	justify-content: space-between;
	padding: 24px 0;
	background: var(--bg-color);
	border-bottom: 1px solid var(--bg-color-secondary);
}

.logo-icon {
	height: 25px;
	width: 25px;
	display: flex;
	/* margin-right: 0.5rem; */
}

.logo-title {
	display: flex;
	margin: 0;
}

a > svg.logo-title:hover * {
	fill: var(--fg-color-secondary);
}

.nav {
	display: flex;
}

.nav-list {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 25px;
	text-align: justify;
}

.nav-list::after {
	content: "";
	width: 100%;
	display: inline-block;
}

.nav-list li { 
	display: inline-block;
	margin: 0;
}

.nav-list li a {
	color: var(--fg-color);
	text-decoration: none;
	font-style: normal;
	font-size: 100%;
	padding: 0 0 23px 0;
}

.nav-list li::before {
	content: ",";
	margin-right: 0.3rem;
	/* color: var(--bg-color-secondary); */
}

.nav-list li:first-child::before {
	content: "";
}

.nav-list .selected { border-bottom: 4px solid var(--bg-color-secondary); }
.nav-list .blog:hover { border-bottom: 4px solid var(--blog); }
.nav-list .presentations:hover { border-bottom: 4px solid var(--pres); }
.nav-list .writing:hover { border-bottom: 4px solid var(--writ); }
.nav-list .shelf:hover { border-bottom: 4px solid var(--shelf); }

@media (max-width: 50em) {
	.logo-icon { margin-right: 0rem; }
}

@media (max-width: 295px) {
	header.navbar { justify-content: start; }
	.nav ul { min-width: 100%; justify-content: space-between; }
	.logo-icon { margin-bottom: 13px; width: 100%; justify-content: end; }
}

.sec-title:hover {
	color: var(--fg-color-secondary);
}

.dot {
	background: var(--bg-color-secondary);
	clip-path: circle(50%);
	display: inline-block;
}

.dot-sm {
	height: 0.3rem;
	width: 0.3rem;
	margin-right: 0.4rem;
	margin-bottom: 0.1rem;
}

.dot-med {
	height: 0.5rem;
	width: 0.5rem;
	margin-right: 0.5rem;
}

.dot-big {
	height: 0.75rem;
	width: 0.75rem;
	margin-right: 1rem;
}

.dot-sidenote {
	background: var(--fg-color);
	height: 0.4rem;
	width: 0.4rem;
	margin: 0 0.1rem 0.4rem 0.15rem;
}

a>h3:has(.dot):hover > .dot,
.post-nav a:has(.square):hover > .square { background: var(--fg-color-secondary); }

.post-nav a.blog:has(.square):hover > .square { background: var(--blog); }
.post-nav a.presentations:has(.square):hover > .square { background: var(--pres); }
.post-nav a.writing:has(.square):hover > .square { background: var(--writ); }

.square {
	background: var(--bg-color-secondary);
	clip-path: margin-box;
	display: inline-block;
}

.square-sm {
	width: 0.3rem;
	height: 0.3rem;
	margin-right: 0.4rem;
	margin-bottom: 0.1rem;
}

.square-med {
	height: 0.5rem;
	width: 0.5rem;
	margin-right: 0.5rem;
}

.square-big {
	height: 0.75rem;
	width: 0.75rem;
	margin-right: 0.5rem;
	background-color: var(--bg-color-secondary);
	display: inline-block;
}

a:has(.square):hover > .dot {
	background: var(--fg-color-secondary);
}

.nobreak {
	white-space: nowrap;
}

figure {
	display: block;
	position: relative;
	overflow: hidden;
}

figure p {
	margin-bottom: 0;
}

blockquote {
	margin: 2rem 0;
	font-style: italic;
}

cite {
	font-style: normal;
	font-variation-settings: "ital" 0;
	position: relative;
}

blockquote {
	position: relative;
}

blockquote::before {
	position: relative;
	display: block;
	width: 3rem;
	height: 0.15rem;
	content: "";
	background: var(--fg-color);
	margin-bottom: 0.5rem;
}

figcaption {
	font-style: italic;
	margin-top: .33rem;
	font-size: 0.9rem;
	display: block;
	vertical-align: top;
	text-align: right;
}

pre {
	font-family: "CommitMono";
	font-size: 14px;
	background-color: var(--bg-color-secondary);
	overflow-x: auto;
	padding: 1rem;
	border-radius: 0rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.pagination, .pagination li {
	display: inline-block;
	list-style: none;
	margin: 0;
	min-width: fit-content;
}

.pagination li > a {
	text-decoration: none;
}

.disabled a, .active a {
	text-decoration: none;
	opacity: 60%;
}


/* THE "SHELF" PAGE */
.shelf-wall * {
	-webkit-font-smoothing: antialiased;
}

.shelf-wall em {
	font-style: italic;
}

.shelf-container {
	max-width: 100%;
	display: flex;
	flex-grow: 1;
	position: relative;
	margin: 0;
	min-height: var(--section-height);
	max-height: var(--section-height);
	overflow: hidden;
	flex-direction: row-reverse;
}

.shelf-container > * {
	margin-bottom: 0;
	overflow-y: auto;
}

/* NOT-SIDEBAR, AKA ICONS */
.not-sidebar {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: var(--section-height);
	max-height: var(--section-height);
	overscroll-behavior-y: none;
}

#top-header-wide {
	height: 1px;
	margin-left: calc((100% / 3) * 1);
	margin-right: 19px;
	border-bottom: 1px solid var(--fg-color-secondary);
}

#top-header {
	text-align: left;
	margin: 0;
	display: none;
	justify-content: end;
	width: 100%;
	height: var(--header-height);
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid var(--fg-color-secondary);
	width: calc(100% - 19px);
}

#top-header a {
	text-decoration: none;
	margin-left: 1.5rem;
}

#top-header a:hover {
	color: var(--fg-color-secondary);
}

#top-header > span {
	margin: 0;
}

.shelf-top, .shelf-mid, .shelf-bottom {
	display: flex;
	flex-direction: row;
	position: relative;
	line-height: inherit;
	margin: 0;
}

.shelf-top::before {
	background-color: var(--fg-color-secondary);
	mask-image: url(/svg/shelf-left-top-mid.svg);
	-webkit-mask-image: url(/svg/shelf-left-top-mid.svg);
	width: 100%;
	content: "";
	overflow-x: hidden;
}

.shelf-top::after {
	background-color: var(--fg-color-secondary);
	mask-image: url(/svg/shelf-right.svg);
	-webkit-mask-image: url(/svg/shelf-right.svg);
	mask-size: 100%;
	min-height: 204px;
	min-width: 20px;
	content: "";
}

.shelf-mid::before {
	background-color: var(--fg-color-secondary);
	mask-image: url(/svg/shelf-left-top-mid.svg);
	-webkit-mask-image: url(/svg/shelf-left-top-mid.svg);
	width: 100%;
	content: "";
	overflow-x: hidden;
}

.shelf-mid::after {
	background-color: var(--fg-color-secondary);
	mask-image: url(/svg/shelf-right.svg);
	-webkit-mask-image: url(/svg/shelf-right.svg);
	mask-size: 100%;
	min-height: 204px;
	min-width: 20px;
	content: "";
}

.shelf-bottom::before {
	background-color: var(--fg-color-secondary);
	mask-image: url(/svg/shelf-left-bottom.svg);
	-webkit-mask-image: url(/svg/shelf-left-bottom.svg);
	width: 100%;
	content: "";
	overflow-x: hidden;
}

.shelf-bottom::after {
	background-color: var(--fg-color-secondary);
	mask-image: url(/svg/shelf-right.svg);
	-webkit-mask-image: url(/svg/shelf-right.svg);
	mask-size: 100%;
	min-height: 204px;
	min-width: 20px;
	content: "";
}

.shelf-header {
	/* height: 5.5rem; */
	margin-bottom: 3rem;
}

.grid {
	position: absolute;
	display: flex;
	row-gap: 1.5em;
	column-gap: 1rem;
	overflow: auto;
	width: calc(100% - 20px - 3rem);
	left: 1.5rem;
	bottom: 0;
	align-items: flex-end;
	scrollbar-width: none;
}

.card {
	position: relative;
	overflow: hidden;
	display: flex;
	background: linear-gradient(to bottom, transparent 1em, var(--bg-color) 1em, var(--bg-color) calc(100% - 1em), transparent calc(100% - 1em));
	background-repeat: no-repeat;
	border: 1px solid var(--fg-color);
	line-height: 0px;
	margin-bottom: 1rem;
	margin-top: 3px;
	box-shadow: -3px -3px var(--bg-color-secondary);
}

.card:first-child {
	margin-left: 3px;
}

.music .card {
	height: 8rem;
	min-width: 8rem;
	max-width: 8rem;
}

.books .card {
	height: 100%;
	min-width: 5.25rem;
	max-width: 5.25rem;
}

.movies .card {
	height: 100%;
	min-width: 6rem;
	max-width: 6rem;
}

.grid .card:hover {
	margin-bottom: 1.5rem;
}

/* SIDEBAR, AKA CONTENT */
.sidebar {
	flex: 1;
	overscroll-behavior-y: none;
	min-height: var(--section-height);
	max-height: var(--section-height);
}


.shelf-section {
	position: relative;
	display: none;
	margin-bottom: 0;
	background-color: var(--bg-color);
	flex-direction: column;
	overscroll-behavior-y: none;
}

.shelf-section section h3 {
	margin-bottom: 0rem;
}
.shelf-section > * {
	width: 90%;
}

.shelf-section header a {
	margin-right: 1.5rem;
}

.shelf-section:target {
	display: flex;
	flex-direction: column;
}

#about:not(:target) {
	display: flex;
}

.shelf-section:target ~ #about {
	display: none;
}

.shelf-section article {
	position: relative;
	flex: 1;
}

.shelf-section article > footer {
	height: fit-content;
	display: none;
	flex-direction: column;
	width: 50%;
}

.shelf-section article > footer > .card {
	margin-left: 3px;
}

.shelf-section p:has(+footer) {
	margin-bottom: 0em;
}


/* Responsive design */
@media only screen and (max-width: 50em) {
	.sidebar-left {
		display: none;
	}
	#top-header {
		display: flex;
	}
	#top-header-wide {
		display: none;
	}
	.shelf-section:target {
		position: absolute;
		display: flex;
		top: 0; 
		min-height: var(--section-height);
		padding-top: 1.5rem;
		bottom: 0;
		overflow-y: auto;
		background-color: var(--bg-color);
	}
	.shelf-section article > footer {
		display: flex;
	}
	.shelf-header {
		max-height: fit-content;
		margin-bottom: 2.25rem;
	}
}
