@supports (font-variation-settings: initial) {
  @font-face {
    font-display: block;
    font-family: "CommitMono";
    src: url("/commit/CommitMonoVF.woff2") format("woff2");
    font-weight: 200 700;
    font-style: normal;
  }
  @font-face {
    font-display: block;
    font-family: "CommitMonoL";
    src: url("/commit/CommitMonoVFL.woff2") format("woff2");
    font-weight: 200 700;
    font-style: normal;
  }
}

:root {
  /* Colours */
  --base: #faf9f6;
  --text: #312B1B;
  --link: #005faf;
  --sel: #005faf;

  --base-alt: #25273a;
  --text-alt: #cad3f5;
  --link-alt: #8aadf4;
  --sel-alt: #939ab7;

  --bg-color: var(--base);
  --fg-color: var(--text);
  --link-color: var(--link);
  /* Font size */
  --14px: 1rem;
}
  
/* General */

* {
  font-family: "CommitMonoL";
  font-feature-settings: "cv11" on, "ss01" on, "ss02" on, "ss03" on, "ss04" on, "ss05" on;
  max-width: 75ch;
  padding: 0;
  margin: 0;
  margin-bottom: 2em;
  font-size: 14px;
  line-height: 1.5rem;
  box-sizing: border-box;
  word-wrap: break-word !important;
}

html {
  padding: 0 2rem;
  margin: 0 auto;
  display: block;
  color: var(--fg-color);
  background: var(--bg-color);
  scroll-behavior: smooth;
}

::-moz-selection {
  color: var(--fg-color);
  background: var(--sel);
}

::selection {
  color: var(--bg-color);
  background: var(--sel);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--base-alt);
    --fg-color: var(--text-alt);
    --link-color: var(--link-alt);
  }
  ::selection{
    color: var(--text-alt);
    background: var(--sel-alt);
  }
}

body {
  margin-top: 3rem;
  max-width: calc(100vw - 5.5ch);
  margin-bottom: 3rem;
}

main {
  margin: 0;
}

.container {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0rem;
}
  
h2 {
  font-weight: 500;
  font-size: 1.25rem;
  position: relative;
  margin-bottom: 0rem;
}

h3 {
  font-weight: normal;
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
  /*scroll-margin-top: 2em;*/
}

p {
  margin-bottom: 1.5rem;
}

p.intro { 
  margin-top: 3em;
  margin-bottom: 3em;
  font-feature-settings: "cv04" on, "cv08" on;
  font-variation-settings: "ital" 1;
}
  
em {
  font-style: normal;
  font-feature-settings: "cv04" on, "cv08" on;
  font-variation-settings: "ital" 1;
}

ul {
  margin-left: 2ch;
  list-style-type: "*\00a0";
}

li {
  text-align: left;
  margin-bottom: 1.5rem;
}

ul.arrow {
  list-style-type: ">\00a0";
}

a {
  color: var(--link-color);
  font-family: CommitMono;
  text-decoration: underline;
  line-height: 100%; /* keeps the line height the same */
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

.divider {
  display: flex;
  white-space: pre;
  overflow: hidden;
  margin: 2rem 0 2rem 0;
}

.divider::after {
  content: "---------------------------------------------------------------------------------";
}

figure {
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding-bottom: 0.75rem;
  margin-bottom: 0.75rem;
}

figure::before {
  position: absolute;
  white-space: pre;
  top: -1rem;
  content: "________________________________________________________________________";
}

figure::after {
  position: absolute;
  white-space: pre;
  bottom: 0;
  content: "________________________________________________________________________";
}

figure > .inner {
  display: flex;
  position: relative;
  margin: 0;
  line-height: 1.25rem;
  overflow: hidden;
  padding: 0.5rem 1ch 0rem 1ch;
}

figure > .inner::before {
  position: absolute;
  white-space: pre;
  top: -0.75rem;
  left: 0;
  content: "\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A";
}

figure > .inner::after {
  position: absolute;
  white-space: pre;
  top: -0.75rem;
  right: 0;
  content: "\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A";
}

img {
  max-width: 100%;
  margin: 0;
}

.hide {
  display: none;
}

.row {
  display: grid;
  grid-template-columns: minmax(auto, auto) 1fr;
  column-gap: 2ch;
  scroll-margin-top: 2rem;
  margin-bottom: 0rem;
}

.item {
  margin-left: 2ch;
  margin-bottom: 1rem;
  position: relative;
}

.item:first-letter {
  margin-left: -2ch;
}

.col-cat {
  margin: 0;
}

.col-cat::before {
  content: "["
}

.col-cat::after {
  content: "]"
}

.post-header > a > h2:hover {
  text-decoration: underline;
}

.post-header .row {
  column-gap: 0ch;
}

.post-header .date a {
  text-decoration: none;
  color: var(--fg-color);
  opacity: 50%;
}

.post-header .date a:hover {
  opacity: 100%;
}

.post-header .column {
  margin-bottom: 0;
}

.post-nav {
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.ls {
  margin-bottom: 0rem;
}

.ls::after {
  content: "_";
  color: var(--fg-color);
  animation: cursor-blink 1s steps(2, start) infinite;
}

@keyframes cursor-blink {
  from { visibility:visible }
  to { visibility:hidden }
}

.tree, .tree ul {
  /*display: inline-block;*/
  margin-left: 0;
  margin-bottom: 3rem;
  list-style: none;
}

.tree li {
  margin: 0;
  padding: 0;
  /*display: inline-block;*/
}

.tree li a {
  color: var(--fg-color);
  text-decoration: none;
}

.tree li a:hover {
  color: var(--bg-color);
  background: var(--fg-color);
}

/* level 1 */
.tree > li::before {
  content: "";
}

/* level 2 */
.tree > li > ul > li {
  margin-left: 2ch;
  list-style-type: "\00a0";
}

.short-post > figure {
  display: none;
}

/* Tabs */
header {
  margin-bottom: 3rem;
}

.navbar ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: var(--fg-color);
  text-decoration: none;
  margin: 0;
}

.navbar a:hover {
  color: var(--bg-color);
  background-color: var(--fg-color);
}

.navbar li {
  position: relative;
  margin: 0;
}

.navbar li > a {
  display: block;
}

/* Dropdown menu styling */
.navbar .dropdown-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--bg-color);
  border: 1px solid var(--fg-color);
  z-index: 1;
  text-transform: lowercase;
}

.navbar .dropdown-list li {
  margin: 0;
}

.navbar .dropdown-list li > a {
  margin: 0;
  padding-right: 1ex;
  padding-bottom: 0.125rem;
}

.navbar .dropdown-list li a::after {
  content: "/";
}

.navbar .dropdown:hover .dropdown-list {
  display: block;
}



/* THE "EXTRA" PAGE */
#top-header {
  text-align: left;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: var(--header-height);
  position: relative;
  overflow: hidden;
}

#top-header > span {
  margin: 0;
}

#top-header::after {
  position: absolute;
  bottom: 0;
  content: "_____________________________________________________________________"
}

.sidebar-container {
  max-width: 100%;
  display: flex;
  flex-grow: 1;
  position: relative;
  margin: 0;
  max-height: var(--section-height);
  overflow: hidden;
  gap: 3ch;
  padding-top: 1rem;
}

.sidebar-container > * {
  margin-bottom: 0;
  overflow-y: auto;
}

/* NOT-SIDEBAR, AKA ICONS */
.not-sidebar {
  position: relative;
  display: flex;
  max-width: fit-content;
  line-height: 1.25rem;
  flex-direction: column;
  margin-top: -0.8rem;
}

.shelf-top, .shelf-mid, .shelf-bottom {
  display: flex;
  flex-direction: row;
  position: relative;
  line-height: inherit;
  margin: 0;
}

.shelf-top::before {
  white-space: pre;
  content: "__\A|\A|\A|\A|\A|\A|\A|\A\\‾\A|\\";
}

.shelf-top::after {
  white-space: pre;
  content: "_ \A| \A| \A| \A| \A| \A| \A| \A\\ \A_\\";
}

.shelf-mid::before {
  white-space: pre;
  content: "|\A|\A|\A|\A|\A|\A|\A\\‾\A|\\";
}

.shelf-mid::after {
  white-space: pre;
  content: "| \A| \A| \A| \A| \A| \A| \A\\ \A_\\";
}

.shelf-bottom::before {
  white-space: pre;
  content: "|\A|\A|\A|\A|\A|\A|\A\\‾\A\00a0\\\A\00a0\00a0";
}

.shelf-bottom::after {
  white-space: pre;
  content: "| \A| \A| \A| \A| \A| \A| \A\\ \A_\\";
}

.shelf-roof-single-first::before {
  white-space: pre;
  bottom: 0;
  content: "_____________\A\A\A\A\A\A\A\A‾‾‾‾‾‾‾‾‾‾‾‾‾\A_____________";
}

.shelf-roof-single::before {
  white-space: pre;
  bottom: 0;
  content: "\A\A\A\A\A\A\A‾‾‾‾‾‾‾‾‾‾‾‾‾\A_____________";
}

.shelf-roof-single, .shelf-roof-single-first {
  overflow: hidden;
  line-height: inherit;
  margin: 0;
}

.shelf-item {
  position: absolute;
  line-height: 1.25rem;
  bottom: 0;
}

.shelf-item > .dropcap, .shelf-item > .dropcap-small {
  line-height: inherit;
  background: linear-gradient(to bottom, 
    transparent 1rem, 
    var(--bg-color) 1rem, 
    var(--bg-color) calc(100% - 1rem), 
    transparent calc(100% - 1rem)
  );
  background-repeat: no-repeat;
}

.dropcap, .dropcap-small {
  display: block;
	white-space: pre;
  line-height: 1.25rem;
	margin-bottom: 0rem;
  float: left;
}

.dropcap-small {
  display: none;
}

.dropcap > a, .dropcap-small > a {
  text-decoration: none;
  color: var(--fg-color);
  margin-top: 0rem;
  margin-bottom: 0rem;
  line-height: 1.25rem;
}

.dropcap > a:hover, .dropcap-small > a:hover {
  color: var(--link-color);
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

/* SIDEBAR, AKA CONTENT */
.sidebar {
  position: relative;
  display: flex;
  flex: 1;
}

.sidebar ul {
  list-style-type: none;
  margin-left: 0ch;
  margin-bottom: 0;
}

section {
  position: relative;
  display: none;
  padding: 0;
  max-height: var(--section-height);
  width: 100%;
  margin-bottom: 0;
  background: var(--bg-color);
  flex-direction: column;
}

section:target {
  display: flex;
}

#about {
  display: flex;
}

section:target ~ #about {
  display: none;
}

section > header {
  display: flex;
  position: relative;
  text-align: left;
  overflow-x: hidden;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}

section > header > * {
  margin-bottom: 0;
}

section > article {
  position: relative;
  flex: 1;
  max-width: 70ch;
  margin-bottom: 0rem;
  overflow-y: auto;
}

section > article > footer {
  text-align: right;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

section p {
  margin-bottom: 1rem;
}

.sidebar .content {
  margin-left: 2ch;
  display: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

input[type="radio"] {
  display: none;
}

section label {
  cursor: pointer;
  display: block;
  margin-top: 0rem;
  margin-bottom: 0rem;
  position: relative;
}

section label:hover {
  color: var(--link-color);
  font-weight: 700;
  text-transform: uppercase;
}

input[type="radio"]:checked + label {
  text-transform: uppercase;
}

input[type="radio"]:checked + label:hover {
  color: var(--fg-color);
  font-weight: 400;
  cursor: default;
}

input[type="radio"]:checked + label::before {
  content: ">\00a0";
}

input[type="radio"]:checked + label + .content {
  display: block;
}

.view-all {
  display: none;
}

/* Responsive design */
@media only screen and (max-width: 768px) {
  .sidebar-container {
    gap: 2ch;
  }
  /* SHOW AND HIDE SHELF MENU */
  .view-all {
    display: inline;
  }
  #shelf-menu {
    display: none;
  }
  #shelf-menu.open {
    display: flex;
  }
  /* BOOK SHELF STRUCTURES */
  .shelf-top::before {
    white-space: pre;
    content: "__\A|\A|\A|\A|\A|\A\\‾\A|\\";
  }

  .shelf-top::after {
    white-space: pre;
    content: "_ \A| \A| \A| \A| \A|\A\\ \A_\\";
  }

  .shelf-mid::before {
    white-space: pre;
    content: "|\A|\A|\A|\A|\A\\‾\A|\\";
  }

  .shelf-mid::after {
    white-space: pre;
    content: "| \A| \A| \A| \A| \A\\ \A_\\";
  }

  .shelf-bottom::before {
    white-space: pre;
    content: "|\A|\A|\A|\A|\A\\‾\A\00a0\\\A\00a0\00a0";
  }

  .shelf-bottom::after {
    white-space: pre;
    content: "| \A| \A| \A| \A| \A\\ \A_\\";
  }

  .shelf-roof-single-first::before {
    white-space: pre;
    bottom: 0;
    content: "________\A\A\A\A\A\A‾‾‾‾‾‾‾‾\A________";
  }

  .shelf-roof-single::before {
    white-space: pre;
    bottom: 0;
    content: "\A\A\A\A\A‾‾‾‾‾‾‾‾\A________";
  }

  .shelf-item .dropcap {
    display: none;
  }
  .shelf-item .dropcap-small {
    display: flex;
    pointer-events: auto;
  }
  #current-filename {
    display: none;
  }
}
