{{ define "main" }}
  <div class="tabcontent" data-place="Blog">
    <p>
      <h3>{{ .Title }}</h3>
      <div class="spaced">{{ .Date.Format "2 January 2006" }}</div>    
    </p>
    <p>
      {{ .Content }}
    </p>
    <div class="spaced"></div> 
    {{ if .PrevInSection }}
    <a href="{{.PrevInSection.Permalink}}"> &larr;&nbsp;Earlier</a> /
    {{ end }}
    <a href="{{ .Site.BaseURL }}/blog">Archive</a>
    {{ if .NextInSection }}
    / <a href="{{.NextInSection.Permalink}}">Later&nbsp;&rarr;</a>
    {{ end }}
  </div>
{{ end }}
