{{ define "main" }}
  <div class="container">
    <div class="post-header">
      <h1>{{ .Title | safeHTML }}</h1>
      <span class="date">
        <div class="row">
          <div class="column">
            <time>
            <a href="{{ .Permalink }}">{{ .Date.Format "02 Jan, 2006" }}</a>{{ if isset .Params "author" }}<span style="opacity:50%";>&nbsp;&nbsp;*&nbsp;&nbsp;</span>{{ end }}
            </time> 
          </div>
          <div class="column">
          </div>
        </div>
      </span>
    </div>
    {{ .Content }}
    {{ partial "post-nav.html" . }}
  </div>
{{ end }}
