<div class="tab">
  <button class="tablinks" data-place="Home"><a href="/">Home</a></button>
  <button class="tablinks" data-place="Writ"><a href="/writing/">Writing</a></button>
  <button class="tablinks" data-place="Pres"><a href="/presentation/">Presentations</a></button>
  <button class="tablinks" data-place="Blog"><a href="/blog/">Blog</a></button>
  <button class="tablinks" data-place="Xtra"><a href="/extra/">Extra</a></button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/tabactive.js"></script>