<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge; text/html">

<!-- styles -->
<link rel="stylesheet" href="/css/style.css">

<!-- icons -->
<link rel="icon" href="/icons/favicon.ico" sizes="any">
<link rel="icon" href="/icons/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/icons/apple-touch-icon.png">
<!--<link rel="manifest" href="/icons/site.webmanifest">-->

<!-- title -->
<title>
  {{- if .IsHome -}}
    {{- .Site.Title -}}{{ with .Site.Params.slogan }} — {{ . }}{{ end }}
  {{- else -}}
    {{- .Title | safeHTML }} — {{ .Site.Title | -}}
  {{- end -}}
</title>
