<header class="navbar">
	<span>
		<a href="/">geordiekidd.com</a>&nbsp;~
		{{- if not .IsHome -}}
		/<ul>
			<li class="dropdown">
				<a href="{{ if .IsPage }}{{ .Parent.Permalink }}{{ else }}{{ .Permalink }}{{ end }}">{{ .Section }}</a>
				<ul class="dropdown-list">
					{{ range sort .Site.Sections "Section" "asc" }}
					{{ if and (ne .Permalink $.Permalink) (ne .Permalink $.Parent.Permalink) }}
					<li><a href="{{ .Permalink}}">{{ .Title }}</a></li>
					{{ end }}
					{{ end }}
				</ul>
			</li>
		</ul>
		<span id="current-filename">{{ if .IsPage }}$ cat {{ .File.BaseFileName }}.md{{ end }}</span>
		{{ end }}
	</span>
	<span class="light-dark-toggle"></span>
</header>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/light-dark-toggle.js"></script>
