{{ define "main" }}
  <div class="container">
    <div class="post-header">
      <span class="date">
        <time>
          <a href="{{ .Permalink }}">{{ .Date.Format "2006-01-02" }}</a>
        </time> 
        {{- if isset .Params "author" -}}
          <span style="opacity:50%";>*&nbsp;by {{ .Params.author }}</span>
        {{ end }}
      </span>
      <h1>{{ .Title | safeHTML }}</h1>
    </div>
    {{ .Content }}
    <p>
    Presented at the <em>{{ .Params.location -}}</em>. {{ if isset .Params "file" }}<a href="{{ .Site.BaseURL }}presentations/{{ .Params.file }}">slides</a>{{ end }}        
    </p>
    {{ partial "post-nav.html" . }}
  </div>
{{ end }}
