{{ define "main" }}
<div class="container">
	<div class="row">
		<div class="col-4">
			<section class="meta-panel">
				<a href="{{ .RelPermalink }}"><h1>{{ .Title | safeHTML }}</h1></a>
				<a href="{{ .RelPermalink }}"><h3>{{ (.Date.Format "2. January 2006") }}{{ if isset .Params "author" }} by {{ .Params.author }}{{- end -}}</h3></a>
			</section>
		</div>
		<div class="col-8">
			<article class="body-content">
				{{ .Content }}
				<p>
				Presented at the <em>{{ .Params.location -}}</em>. {{ if isset .Params "file" }}<a href="{{ .Site.BaseURL }}presentations/{{ .Params.file }}">Get slides</a>.{{ end }}
				</p>
			</article>
		</div>
	</div>
	{{ partial "post-nav.html" . }}
</div>
{{ end }}
