{{ define "main" }}
  <div class="container">
    <div class="dropcap" style="float:right;margin-left:2ch;"><a href="{{ .Site.BaseURL }}img/portrait-gpk.png">     .–'`'`=.     <br>    /        \    <br>    |/`~^+^'\|    <br>    |. ¬  v  ;    <br>     \      /    <br>      ) ‾‾ (     <br>    _~'.__.'–_    <br> .–'`–._/\_.–'`–. <br>/       |. ___   \<br>|_______|._______|</a></div>
    <div>
      <p>
        I'm Geordie, and this is my personal website. I'm a linguistics graduate from the University of Melbourne, and I live and work on Wurundjeri country. My primary interests are in the phonology and semantics of Australian Indigenous languages, though I'm also fascinated by speech processing, and theories of morphology and the lexicon. This site I use as a personal blog, a repository of my work, and a record of my activities. All views are my own.
      </p>
      <p>
        In my daily life: I love to walk and be outside; I listen to lots of <a href="https://www.youtube.com/watch?v=5Euo2PLEuU0">jazz</a> and <a href="https://www.youtube.com/watch?v=mXcdpPDHzlM">funk</a> music; I am vegetarian and I like to cook; I prefer to write on a manual <a href="https://typewriterdatabase.com/1968-hermes-3000.3943.typewriter">typewriter</a> or with a <a href="https://www.gentlemanstationer.com/blog/2024/4/6/fountain-pen-review-the-curious-case-of-the-lamy-vista">fountain</a> <a href="https://www.twsbi.com/collections/fountain-pens/products/twsbi-eco-glow-green-fountain-pen">pen</a>; I am a satisfied <a href="https://neovim.io">neovim</a> convert; I quite enjoy <a href="https://www.whiskybase.com/whiskies/whisky/202641/ardbeg-ardcore">whisky</a>; I will always advocate for well-typeset documents.
      </p>
      <ul class="prompt-secondary">
        <li>To reach me,<br> geordiekidd(&lambda;)gmail.com</li>
      </ul>
    </div>
  </div>
{{ end }}
