{{ define "main" }}
<style>
:root {
  --header-height: 2.25rem;
  --section-height: calc(100vh - calc(7.5rem + var(--header-height)));
  --section-height: calc(100svh - calc(7.5rem + var(--header-height)));
}
html {
  margin-bottom: 0;
}
body {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
</style>
<div class="container">
  <div id="top-header">
    <span class="view-all"><a onclick="javascript:menuOpenClose()">menu</a></span>
    <span>FAVOURITES</span>
    <span><a href="#about">about</a></span>
  </div>
  <div class="sidebar-container">
    <div class="not-sidebar" id="shelf-menu">
      <!-- MUSIC ICON -->
      <div class="shelf-top">
        <div class="shelf-roof-single-first"></div>
        <!-- DESKTOP -->
        <div class="shelf-item" style="left:2.5ch;top:3.6rem;">
          <div class="dropcap"><a href="#music">____________<br>‖¦  .---.  |<br>‖¦ /     \ |<br>‖¦|   0   ||<br>‖¦ \     / |<br>‖¦  `---'  |<br>‾‾‾‾‾‾‾‾‾‾‾‾<br></a></div>
        </div>
        <!-- SMALL -->
        <div class="shelf-item" style="left:2.25ch;top:3.6rem;">
          <div class="dropcap-small"><a href="#music">_______<br>‖ .-. |<br>‖( * )|<br>‖ `-' |<br>‾‾‾‾‾‾‾<br></a></div>
        </div>
      </div>
      <!-- BOOK ICON -->
      <div class="shelf-mid">
        <div class="shelf-roof-single"></div>
        <!-- DESKTOP -->
        <div class="shelf-item" style="left:3ch;top:-0.125rem;">
          <div class="dropcap"><a href="#books"> ________ <br>|\ΞΞΞΞΞΞΞ\<br>|¦       ¦<br>|¦ $&#%! ¦<br>|¦       ¦<br>|¦  *@~  ¦<br>|¦       ¦<br>\¦       ¦<br>  ‾‾‾‾‾‾‾</a></div>
        </div>
        <!-- SMALL -->
        <div class="shelf-item" style="left:2ch;top:0;">
          <div class="dropcap-small"><a href="#books"> _____ <br>|\ΞΞΞΞ\<br>|¦    ¦<br>|¦ @# ¦<br>|¦    ¦<br>\¦    ¦<br> ‾‾‾‾‾ </a></div>
        </div>
      </div>
      <!-- MOVIE ICON -->
      <div class="shelf-bottom">
        <div class="shelf-roof-single"></div>
        <!-- DESKTOP -->
        <div class="shelf-item" style="left:1.6ch;top:4.5rem;">
          <div class="dropcap"><a href="#movies"> ___________<br>|–––––––––––|<br>|(*|[‾‾‾]|*)|<br>|    ‾‾‾    |<br> ‾‾‾‾‾‾‾‾‾‾‾ </a></div>
        </div>
        <!-- SMALL -->
        <div class="shelf-item" style="left:1.75ch;top:0">
          <div class="dropcap-small"><a href="#movies"> ______ <br>| .-+. |<br>|/ (*)\|<br>|\‾‾‾‾/|<br>| `––' |<br>| StWR |<br> ‾‾‾‾‾‾ </a></div>
        </div>
      </div>
    </div>  
    <div class="sidebar">
      <section id="music">
        <header>
          <span><a href="#music">#</a> MUSIC</span>
        </header>
        <article>
        <br>
          <ul>
            {{ range sort (where .Site.RegularPages ".File.Dir" "shelf/music/") "Params.relyear" }}
            <li>
              <input type="radio" id="{{ .File.BaseFileName }}" name="collapsible" data-filename="{{ .File.BaseFileName }}">
              <label for={{ .File.BaseFileName }}>{{ .Title | safeHTML }}</label>
              <div class="content">
                <p class="content-header">
                  {{ .Params.reltype }} by <em>{{ .Params.artist | safeHTML }}</em>, {{ .Params.relyear }}.
                </p>
                {{ .Content }}
                <p>
                  {{ if isset .Params "link" }}
                    <a href="{{ .Params.link }}">listen</a>
                  {{ end }}
                </p>
              </div>
            </li>
            {{ end }}
          </ul>
        </article>
      </section>
      <section id="books">
        <header>
          <span><a href="#books">#</a> BOOKS</span>
        </header>
        <article>
        <br>
          wip
          <ul>
            {{ range sort (where .Site.RegularPages ".File.Dir" "shelf/books/") "Params.relyear" }}
            <li>
              <input type="radio" id="{{ .File.BaseFileName }}" name="collapsible" data-filename="{{ .File.BaseFileName }}">
              <label for={{ .File.BaseFileName }}>{{ .Title | safeHTML }}</label>
              <div class="short-summary" id="{{ .File.BaseFileName }}">
                <p class="content-header">
                  {{ .Params.reltype }} by <em>{{ .Params.artist | safeHTML }}</em>, {{ .Params.relyear }}.
                </p>
                {{ .Content }}
                <p>
                  {{ if isset .Params "link" }}
                    <a href="{{ .Params.link }}">read</a>
                  {{ end }}
                </p>
              </div>
            </li>
            {{ end }}
          </ul>
        </article>
      </section>
      <section id="movies">
        <header>
          <span><a href="#movies">#</a> MOVIES</span>
        </header>
        <article>
        <br>
          <ul>
            {{ range sort (where .Site.RegularPages ".File.Dir" "shelf/movies/") "Params.relyear" }}
            <li>
              <input type="radio" id="{{ .File.BaseFileName }}" name="collapsible" data-filename="{{ .File.BaseFileName }}">
              <label for={{ .File.BaseFileName }}>{{ .Title | safeHTML  }}</label>
              <div class="content">
                <p class="content-header">
                  {{ .Params.reltype }} by <em>{{ .Params.artist | safeHTML }}</em>, {{ .Params.relyear }}.
                </p>
                {{ .Content }}
                <p>
                  {{ if isset .Params "link" }}
                    <a href="{{ .Params.link }}">watch</a>
                  {{ end }}
                </p>
              </div>
            </li>
            {{ end }}
          </ul>
        </article>
      </section>
      <section id="about">
        <article>
          <p> Welcome to my (book)shelf! Here you'll find some of my favourite sounds, words, and pictures, some of which you might enjoy too. I've included a short reflection on each item, and a link to where you can find it.</p> 
          <p>(Try clicking one of the ASCII icons in the menu to show some stuff!)</p>
          <footer>updated {{ .Lastmod | time.Format "January 2006" }}</footer>
        </article>
      </section>
    </div>
  </div>
</div>
<script src="/js/header-update.js"></script>
{{ end }}
