{{ define "main" }}
<style>
:root {
  --header-height: 2.25rem;
  --section-height: calc(100vh - calc(7.5rem + var(--header-height)));
  --section-height: calc(100svh - calc(7.5rem + var(--header-height)));
}
html {
  margin-bottom: 0;
}
body {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
</style>
<div class="container">
  <div id="top-header">
    <span>FAVOURITES</span>
    <span>% <a href="#">view all</a>&nbsp;&nbsp;& <a href="#about">about</a></span>
  </div>
  <div class="sidebar-container">
    <div class="not-sidebar">
      <!-- MUSIC CARDS -->
      <div class="shelf-top">
        <div class="shelf-roof-single-first"></div>
        <span class="shelf-header"><a href="#music">#</a> MUSIC</span>
        <div class="grid music">
          {{ range sort (where .Site.RegularPages ".File.Dir" "shelf/music/") "Params.relyear" }}
            <a href="#{{ .File.BaseFileName}}" class="card">
              <img src="/shelf/music/{{ .File.BaseFileName }}.jpg">
            </a>
          {{ end }}
        </div>
      </div>
      <!-- BOOK CARDS -->
      <div class="shelf-mid">
        <div class="shelf-roof-single"></div>
        <span class="shelf-header"><a href="#books">#</a> BOOKS</span>
        <div class="grid books">
          {{ range sort (where .Site.RegularPages ".File.Dir" "shelf/books/") "Params.relyear" }}
            <a href="#{{ .File.BaseFileName }}" class="card">
              <img src="/shelf/books/{{ .File.BaseFileName }}.jpg">
            </a>
          {{ end }}
        </div>  
      </div>
      <!-- MOVIE CARDS -->
      <div class="shelf-bottom">
        <div class="shelf-roof-single"></div>
        <span class="shelf-header"><a href="#movies">#</a> MOVIES</span>
        <div class="grid movies">
          {{ range sort (where .Site.RegularPages ".File.Dir" "shelf/movies/") "Params.relyear" }}
            <a href="#{{ .File.BaseFileName }}" class="card">
              <img src="/shelf/movies/{{ .File.BaseFileName }}.jpg">
            </a>
          {{ end }}
        </div>  
      </div>
    </div>  
    <div class="sidebar">
      {{ range (where .Site.Pages "Section" "shelf") }}
        {{ range .Pages }}
          <section id="{{ .File.BaseFileName }}" data-filename="{{ .File.BaseFileName }}">
            <header>
              <div class="dropcap" style="margin-right:2ch;margin-top:-1rem;width:fit-content;">{{- if eq .File.Dir "shelf/music/" -}}
                ____________<br>‖¦  .---.  |<br>‖¦ /     \ |<br>‖¦|   0   ||<br>‖¦ \     / |<br>‖¦  `---'  |<br>‾‾‾‾‾‾‾‾‾‾‾‾
              {{- else if eq .File.Dir "shelf/books/" -}}
                &nbsp;________ <br>|\ΞΞΞΞΞΞΞ\<br>|¦       ¦<br>|¦ $&#%! ¦<br>|¦       ¦<br>|¦  *@~  ¦<br>|¦       ¦<br>\¦       ¦<br>  ‾‾‾‾‾‾‾
              {{- else if eq .File.Dir "shelf/movies/" -}}
                &nbsp;___________<br>|–––––––––––|<br>|(*|[‾‾‾]|*)|<br>|    ‾‾‾    |<br> ‾‾‾‾‾‾‾‾‾‾‾ {{- end -}}
              </div>
              <div>
                <p style="text-transform:uppercase;">{{ .Title | safeHTML }}</p>
                {{ .Params.reltype }} by <em>{{ .Params.artist | safeHTML }}</em>, {{ .Params.relyear }}.
              </div>
            </header>
            <article>
              {{ .Content }}
              <div style="margin-top:2.25rem;">
                <a href={{- if isset .Params "link" -}}"{{- .Params.link -}}" target="_blank" {{- else -}}""{{- end -}}>
                  <figure>
                    <div class="inner">
                      <img src="/{{- .File.Dir -}}{{ .File.BaseFileName }}.jpg">
                    </div>
                  </figure>
                </a>
                <p style="text-align:right;">{{ if isset .Params "link" }}<a href="{{ .Params.link }}">get it here</a>{{ end }}</p>
              </div>
            </article>
          </section>
        {{ end }}
      {{ end }}
      <section id="about">
        <article>
          <p> Welcome to my (book)shelf! Here you'll find some of my favourite sounds, words, and pictures, some of which you might enjoy too. I've included a short reflection on each item, and a link to where you can find it.</p> 
          <footer>updated {{ .Lastmod | time.Format "January 2006" }}</footer>
        </article>
      </section>
    </div>
  </div>
</div>
<script src="/js/header-update.js"></script>
{{ end }}
