{{ define "main" }}
<style>
:root {
  --header-height: 2.25rem;
  --section-height: calc(100vh - calc(7.5rem + var(--header-height)));
  --section-height: calc(100svh - calc(7.5rem + var(--header-height)));
}
html {
  margin-bottom: 0;
}
body {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
</style>
<div class="container">
  <div id="top-header">
    <span>FAVOURITES</span>
    <span>% <a href="#">view all</a>&nbsp;&nbsp;& <a href="#about">about</a></span>
  </div>
  <div class="sidebar-container">
    <div class="not-sidebar">
      <!-- MUSIC CARDS -->
      <div class="shelf-top">
        <span class="shelf-header"><a href="#music">#</a> MUSIC</span>
        <div class="grid music">
          {{ range sort (where .Site.RegularPages ".File.Dir" "shelf/music/") "Params.relyear" }}
            <a href="#{{ .File.BaseFileName}}" class="card">
              <img src="/shelf/music/{{ .File.BaseFileName }}.jpg">
            </a>
          {{ end }}
        </div>
      </div>
      <!-- BOOK CARDS -->
      <div class="shelf-mid">
        <span class="shelf-header"><a href="#books">#</a> BOOKS (wip)</span>
        <div class="grid books">
          {{ range sort (where .Site.RegularPages ".File.Dir" "shelf/books/") "Params.relyear" }}
            <a href="#{{ .File.BaseFileName }}" class="card">
              <img src="/shelf/books/{{ .File.BaseFileName }}.jpg">
            </a>
          {{ end }}
        </div>  
      </div>
      <!-- MOVIE CARDS -->
      <div class="shelf-bottom">
        <span class="shelf-header"><a href="#movies">#</a> MOVIES (wip)</span>
        <div class="grid movies">
          {{ range sort (where .Site.RegularPages ".File.Dir" "shelf/movies/") "Params.relyear" }}
            <a href="#{{ .File.BaseFileName }}" class="card">
              <img src="/shelf/movies/{{ .File.BaseFileName }}.jpg">
            </a>
          {{ end }}
        </div>  
      </div>
      <div>&nbsp;</div>
    </div>  
    <div class="sidebar">
      {{ range (where .Site.Pages "Section" "shelf") }}
        {{ range .Pages }}
          <section id="{{ .File.BaseFileName }}" data-filename="{{ .File.BaseFileName }}">
            <header>
              <div {{ if eq .File.Dir "shelf/music/" }}class="music"{{ else if eq .File.Dir "shelf/books/" }}class="books"{{ else if eq .File.Dir "shelf/movies/" }}class="movies"{{ end }} style="display:flex;margin-right:2ch;margin-top:-1.25rem;">
                <a href={{- if isset .Params "link" -}}"{{- .Params.link -}}" target="_blank" {{- else -}}"#{{ .File.BaseFileName }}"{{- end -}} class="card">
                  <img src="/{{- .File.Dir -}}{{ .File.BaseFileName }}.jpg">
                </a>
              </div>
              <div>
                <p style="text-transform:uppercase;">{{ .Title | safeHTML }}</p>
                <p>{{ .Params.reltype }} by <em>{{ .Params.artist | safeHTML }}</em>, {{ .Params.relyear }}</p>
              </div>
            </header>
            <article>
              {{ .Content }}
              {{ if isset .Params "link" }}
              <ul style="margin-top:2.5rem;">
                <li><a href="{{ .Params.link }}">link</a></li>
              </ul> 
              {{ end }}
            </article>
          </section>
        {{ end }}
      {{ end }}
      <section id="about">
        <article>
          <p> Welcome to my (book)shelf! Here you'll find some of my favourite music, books, and movies. Maybe you'll enjoy some of them too. I've included a short reflection on each item, and a link to where you can find it.</p> 
          <footer>updated {{ .Lastmod | time.Format "January 2006" }}</footer>
        </article>
      </section>
    </div>
  </div>
</div>
<script src="/js/header-update.js"></script>
{{ end }}
