{{ define "main" }}
<div class="container">
	{{- $writList := .Data.Pages.GroupByDate "2006" -}}
	{{- $len := (len $writList) -}}
	{{- range $i, $group := $writList -}}
	<div class="row content-item-row">
		<div class="col-4">
			<div class="title">
				<h1>{{ $group.Key }}</h1>
			</div>
		</div>
		<div class="col-8">
			<article class="body-content">
				{{ range $group.Pages }}
				<div class="work-item">
					{{ if .RenderString .Content }}
					<a href="{{ .Permalink }}">{{ .Params.citation | safeHTML }}</a>
					{{ else }}
					{{ .Params.citation | safeHTML }}
					{{ end }}
					{{- if isset .Params "file" }}<a href="{{ .Site.BaseURL }}writing/{{ .Params.file }}">PDF</a>{{ end}}
				</div>
				{{ end }}
			</article>
			{{ if ne $i (sub $len 1) }}
			<hr class="border border-tertiary">
			{{ end }}
		</div>
	</div>
	{{ end }}
</div>
{{ end }}
