{{ define "main" }}
<div data-place="Writ">
  <div class="container">
    {{ .Content }}
    {{- range .Data.Pages.GroupByDate "2006" -}}
    <div class="row">
      <div class="column">
        <div class="col-cat">{{ .Key }}</div>
      </div>
      <div class="column">
        {{ range .Pages }}
        <div class="item">
          {{ .Params.citation | safeHTML }}
          {{ if .RenderString .Content}}<a href="{{ .Permalink }}">abstract</a>{{ end }}
          {{ if isset .Params "file" }}<a href="{{ .Site.BaseURL }}writing/{{ .Params.file }}">PDF</a>{{ end}}
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
